.current #classTasksBody {
  position: absolute;
  display: grid;
  width: 100%;
  height: 5000px;
  grid-template-rows: repeat(90, 20vmax);
  grid-template-columns: 2fr 3fr 3.5fr 3.5fr 3.5fr 3.5fr 3fr;
  margin-top: 80%; }

.current #taskTitleWrapper1 {
  grid-row: 1/14;
  grid-column: 1/3;
  overflow: hidden;
  padding-left: 0.5vmax; }

.current #taskTitleWrapper2 {
  grid-row: 1/6;
  grid-column: 1/3; }

.current #taskTitleWrapper3 {
  grid-row: 1/19;
  grid-column: 1/3;
  overflow: hidden;
  padding-left: 0.5vmax; }

.current #taskTitleWrapper4 {
  grid-row: 1/5;
  grid-column: 1/3;
  padding-left: 0.5vmax; }

.current #taskTitleWrapper6 {
  grid-row: 1/19;
  grid-column: 1/3;
  overflow: hidden;
  padding-left: 0.5vmax; }

.current #taskTitleWrapper8 {
  grid-row: 1/19;
  grid-column: 1/3;
  overflow: hidden;
  padding-left: 0.5vmax; }

.current .taskTitle {
  width: 100%;
  height: 100%;
  position: relative;
  letter-spacing: -3vmax;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 0.2vmax; }

.current #task1Title {
  font-size: 14vmax;
  width: 100%;
  padding-left: 5vmax; }

.current #task2Title {
  position: sticky;
  top: 3vmax;
  font-size: 8vmax;
  height: 100%; }
  .current #task2Title .word1Span {
    position: sticky;
    top: 1.5vmax; }
  .current #task2Title .word2Span {
    position: sticky;
    top: 1.5vmax;
    left: 6vmax;
    margin-top: -6vmax; }
  .current #task2Title .word3Span {
    position: sticky;
    top: 1.5vmax;
    left: 13vmax;
    margin-top: -6vmax; }

.current #task3Title {
  font-size: 14vmax;
  width: 100%;
  padding-left: 5vmax; }

.current #task4Title {
  position: sticky;
  top: 3vmax;
  font-size: 8vmax;
  height: 100%; }
  .current #task4Title .word1Span {
    position: sticky;
    top: 1.5vmax; }
  .current #task4Title .word2Span {
    position: sticky;
    top: 1.5vmax;
    left: 6vmax;
    margin-top: -40vmax; }
  .current #task4Title .word3Span {
    position: sticky;
    top: 1.5vmax;
    left: 13vmax;
    margin-top: -10vmax; }

.current #task6Title {
  font-size: 14vmax;
  width: 100%;
  padding-left: 5vmax; }

.current #task8Title {
  font-size: 14vmax;
  width: 100%;
  padding-left: 5vmax; }
