* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  overflow: visible; }

.itemWrapper {
  padding: 3px;
  cursor: pointer; }

.bulletSpan {
  font-weight: 900; }

#page #landingGrid #innerGrid {
  position: fixed;
  z-index: 5; }
  #page #landingGrid #innerGrid .menuItem {
    z-index: 6;
    grid-row: 1/4;
    font-family: condor, sans-serif;
    font-size: calc(7px + 1vmax);
    padding-top: 0.2vmax;
    color: #1f1f1f;
    height: 3vmax;
    margin-left: -1.6vmax; }
  #page #landingGrid #innerGrid #inspirationItem {
    grid-column: 3; }
  #page #landingGrid #innerGrid #classTasksItem {
    grid-column: 4; }
  #page #landingGrid #innerGrid #tshirtsItem {
    grid-column: 5; }
