#task2 {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100vmax;
  grid-row: 13;
  grid-template-rows: repeat(7, 20vmax);
  grid-template-columns: 2fr 3fr 3.5fr 3.5fr 3.5fr 3.5fr 3fr;
  row-gap: 6vmax;
  z-index: 2; }
  #task2 #task2ContentWrapper {
    position: relative;
    grid-row: 1/6;
    grid-column: 4 /7; }
    #task2 #task2ContentWrapper #albumCoverMain {
      content: url("../images/task2-images/image1.png");
      background-size: cover;
      width: 100%;
      height: auto; }
    #task2 #task2ContentWrapper #rationale {
      position: relative;
      padding-top: 1vmax;
      background: rgba(255, 255, 255, 0.719); }
    #task2 #task2ContentWrapper #albumCoverSecond {
      position: absolute;
      content: url("../images/task2-images/image2.png");
      background-size: cover;
      width: 100%;
      height: auto;
      bottom: 7vmax; }

#task3 {
  position: absolute;
  display: grid;
  width: 100%;
  height: auto;
  grid-row: 21/24;
  grid-template-rows: repeat(15, 20vmax);
  grid-template-columns: 2fr 3fr 3.5fr 3.5fr 3.5fr 3.5fr 3fr;
  z-index: 2; }
  #task3 #task3ContentWrapper {
    position: relative;
    grid-row: 1/10;
    grid-column: 4/7; }
  #task3 #brief {
    position: relative;
    height: auto;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
    padding-left: 0.8vmax;
    margin-bottom: 7vmax; }
  #task3 #task3ResearchImage1 {
    content: url("../images/task3-images/image1.png");
    width: 100%;
    border: 1px solid black;
    border-bottom: none; }
  #task3 #task3ResearchImage2 {
    content: url("../images/task3-images/image2.png");
    width: 100%;
    border: 1px solid black;
    border-top: none;
    margin-bottom: 7vmax; }
  #task3 #task3Concepts {
    width: 100%;
    height: 500px;
    background: white;
    border: 1px solid black;
    margin-bottom: 5vmax; }
  #task3 #task3Development {
    content: url("../images/task3-images/image4.png");
    width: 100%;
    border: 1px solid black;
    border-top: none;
    margin-bottom: 7vmax; }
  #task3 #task3Solution {
    content: url("../images/task3-images/image6.png");
    width: 100%;
    border: 1px solid black;
    border-top: none;
    margin-bottom: 7vmax; }
  #task3 #task3Evaluation {
    position: relative;
    height: auto;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
    padding-left: 0.8vmax;
    margin-bottom: 7vmax; }

#task4 {
  position: absolute;
  display: grid;
  width: 100%;
  height: 200vmax;
  grid-row: 38;
  grid-template-rows: repeat(9, 20vmax);
  grid-template-columns: 2fr 3fr 3.5fr 3.5fr 3.5fr 3.5fr 3fr;
  row-gap: 6vmax;
  z-index: 2; }
  #task4 #task4ContentWrapper {
    position: relative;
    grid-row: 1/5;
    grid-column: 4 /7; }
    #task4 #task4ContentWrapper #aiLesson1Image {
      content: url("../images/task3-4-images/image1.png");
      background-size: cover;
      width: 100%;
      height: auto;
      margin-bottom: 15vmax; }
    #task4 #task4ContentWrapper #aiLesson2Image {
      content: url("../images/task3-4-images/image2.png");
      background-size: cover;
      width: 100%;
      height: auto; }
